<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>

        </header>
        <main>
            <div><h6>{{ id }}</h6></div>
            <div><h6>{{ full_name }}</h6></div>
            <div><h6>{{ date_of_birth }}</h6></div>
            <div><h6>{{ sex }}</h6></div>
            <div><h6>{{ quoc_tich }}</h6></div>
            <div><h6>{{ que_quan }}</h6></div>   
            <div><h6>{{ noi_thuong_tru }}</h6></div>
        </main>
        <footer>

        </footer>
    </body>
</html>