model_config_list { 
  config {
    name: 'cropper_model'
    base_path: "/home/phamvanhanh/PycharmProjects/IDCardVNRecognition/models/cropper"
    model_platform: "tensorflow",
    model_version_policy {
      specific {
         versions: 1
      }
    }
  }
  config {
    name: 'detector_model'
    base_path: "/home/phamvanhanh/PycharmProjects/IDCardVNRecognition/models/detector"
    model_platform: "tensorflow",
    model_version_policy {
      specific {
         versions: 1
      }
    }
  }
  
}
